<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/recipe_master"
        android:label="@string/app_name"
        android:roundIcon="@drawable/recipe_master"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeMaster"
        tools:targetApi="31">
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".MainCourse.Chana"
            android:exported="false" />
        <activity
            android:name=".MainCourse.ButterChicken"
            android:exported="false" />
        <activity
            android:name=".MainCourse.KadhaiPaneer"
            android:exported="false" />
        <activity
            android:name=".MainCourse.AlloSabji"
            android:exported="false" />
        <activity
            android:name=".MainCourse.DalMakhni"
            android:exported="false" />
        <activity
            android:name=".Snacks.MainCourse.Dhokla"
            android:exported="false" />
        <activity
            android:name=".Snacks.MainCourse.GolGappe"
            android:exported="false" />
        <activity
            android:name=".Snacks.MainCourse.OnionPakoda"
            android:exported="false" />
        <activity
            android:name=".Snacks.MainCourse.PavBhaji"
            android:exported="false" />
        <activity
            android:name=".Snacks.MainCourse.Samosa"
            android:exported="false" />
        <activity
            android:name=".Sweets.KajuKatli"
            android:exported="false" />
        <activity
            android:name=".Sweets.Kheer"
            android:exported="false" />
        <activity
            android:name=".Sweets.Jalebi"
            android:exported="false" />
        <activity
            android:name=".Sweets.Rasmalai"
            android:exported="false" />
        <activity
            android:name=".Sweets.BesanKeLaddu"
            android:exported="false" />
        <activity
            android:name=".SweetsActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".MainCourseActvity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".SnacksActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>